<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcptest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcptest.Perspective"
            id="rcptest.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcptest.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="rcptest.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
         	   definitionId="rcptest.actions.command"
               class="rcptest.actions.SampleAction"
               icon="icons/sample.gif"
               id="rcptest.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
         	id="rcptest.actions.command"
         	name="Sample Action"
         	>
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key 
         	commandId="rcptest.actions.command"
         	contextId="org.eclipse.ui.contexts.window"
         	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         	name="Sample Action"
         	sequence="M1+6">
         </key>
   </extension>

</plugin>
